In [1]:
import pandas as pd

In [3]:
df = pd.read_csv(r"C:\Users\harik\Downloads\Regarding going to campus next semester.csv\Regarding going to campus next semester.csv")

In [6]:
df[df['Do you want to go to campus the next semester ?'] == 'May go'].drop('Timestamp', axis=1)

   Please enter your name . Do you want to go to campus the next semester ?
0                    Shirsh                                          May go
2          Harsh Khandelwal                                          May go
4             Nishant Dabur                                          May go
5         Harikesh Kushwaha                                          May go
6       Shailja Kant Tiwari                                          May go
8       Rakesh Kumar Behera                                          May go
9               2021PHS7179                                          May go
11                  Prajwal                                          May go
12        Pawan kumar singh                                          May go
14              2021phs7226                                          May go
16             Astha Mittal                                          May go
17              Naj kashyap                                          May go
19                Rahul Raj                                          May go
25                   Naveen                                          May go
29                    Shibu                                          May go
30           Rohit Prajapat                                          May go
32                     Aman                                          May go
33           Hardik Vaibhav                                          May go
35                  Akshika                                          May go
36                  Bipasha                                          May go
39       Lokesh kumar meena                                          May go

In [7]:
df.to_csv(r"C:\Users\harik\Downloads\Regarding going to campus next semester.csv\Regarding going to campus next semester 2.csv", index=False)